@model LoginSystem.ViewModel.CinemaDto

<div class="container mt-4">
    <h4 class="mb-4">Create Movie</h4>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Cinema">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" asp-for="Location" placeholder="Enter Location">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" asp-for="City" placeholder="Enter City">
                        </div>
                    </div>

                  </div>
                <br />
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>