<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginSystem.Client</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/Bootswatchtheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginSystem.Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Client View</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menus</a>
                            <div class="dropdown-menu">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link" asp-controller="AdminUser" asp-action="GetUsers">User</a>
                                    <a class="nav-link" asp-controller="AdminRole" asp-action="GetRoles">Role</a>
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <div class="d-flex px-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list-4" aria-controls="navbar-list-4" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-list-4">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @await Component.InvokeAsync("UserProfile")
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="ProfileInfo">Profile Info</a></li>
                                        <li><a class="dropdown-item" asp-controller="Authenticate" asp-action="ResetPassword">Change Password</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="LogOut">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="box " style="background: url(img/home-img-1.jpeg) no-repeat;">
                    <div class="content">
                        <h3>Kakegurui</h3>
                        <p>High roller Yumeko Jabami plans to clean house at Hyakkaou Private<br>
                        Academy, a school where students are evaluated solely on their<br>
                        gambling skills.</p>
                        <a href="#" class="btn">Download</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box second" style="background: url(img/home-img-3.jpeg) no-repeat;">
                    <div class="content">
                        <h3>DEATH NOTE</h3>
                         <p>When a Japanese high schooler comes into possession of a mystical<br>
                        notebook, he finds he has the power to kill anybody whose name he<br>
                        enters in it.</p>
                        <a href="#" class="btn">Download</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box " style="background: url(img/home-img-4.jpeg) no-repeat;">
                    <div class="content">
                        <h3>One-Punch Man</h3>
                         <p>The most powerful superhero in the world can kill anyone with one<br>
                        blow. But nothing can challenge him, so he struggles with ennui and<br>
                        depression</p>
                        <a href="#" class="btn">Download</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box " style="background: url(img/home-img-2.jpeg) no-repeat;">
                    <div class="content">
                        <h3>Naruto</h3>
                        <p>Guided by the spirit demon within him, orphaned Naruto learns<br>
                        to harness his powers as a ninja in this anime adventure series.</p>
                        <a href="#" class="btn">Download</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>



 
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
