.navbar-color {
    background-color: #495464;
}

.default {
    background-color: #F4F4F2;
}

#main {
    padding-top: 15px;
    background-color: #F4F4F2;
}

.showcase-box{
    width : 430px;
    height : 250px;
    box-shadow : 5px 15px 30px rgba(0,0,0,0.3);
    border-radius : 10px;
    margin: 0px 20px 10px 20px;
    overflow : hidden;
}

.showcase-box img{
    width : 100%;
    height : 100%;
    object-fit : cover;
    object-position : top;
}

.showcase-heading{
    padding-left : 30px;
    font-weight : 500;
    letter-spacing : 1px;
    text-transform : uppercase;
    font-size :1.2rem;
    color : #1a1a1a;
}

.section {
    padding-top: 35px;
}

.contain {
    max-width: 1920px;
    padding: 0 30px;
    margin: auto;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    border-left: 4px solid black;
    display: flex;
    align-items: center;
}



.premier-Movies {  
    display :flex;
    flex-direction : row;
    justify-content: space-evenly;
}

div.box{
    padding-top: 0px;
}

.box{
    position:relative;
    width: 250px;
    perspective: 1000px;
}

    .box .box-img {
        transform: rotateY(0);
        transition: all 0.5s ease-in-out 0s;
    }

.box:hover .box-img{
    transform: rotateY(-90deg);
}

    .box .box-img img {
        width: 70%;
        height: 70%;
        width: 250px;
        height: 350px;
        border: 2px solid #000;
        border-radius: 10px;
    }

    .box .content {
        color: #495464;
        background: #FFF;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 20px 20px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px;
        transform: rotateY(90deg);
        transition: all 0.5s ease-in-out 0s;
    }

.box:hover .content{
    transform:rotateY(0);
}

.box .content p{
    padding : 20px 0;
    margin: 0 25px;
}

    .box .button {
        background: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 200px 50px;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
        transform: rotateY(90deg);
        transition: all 0.5s ease-in-out 0s;
    }

    .box:hover .button{
        transform: rotateY(0);
    }

    .box .button li{
        list-style: none;
        padding: 100px 0;
    }

        .box .button li a {
            color: white;
            text-decoration: none;
            border: 1px solid transparent;
            padding: 5px 10px;
            background: #495464;
            border-radius: 50px;
        }


.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
}



