@model LoginSystem.ViewModel.MovieDto

<div class="container mt-4">
	<h4 class="mb-4">Edit Movie</h4>
	<div class="card">
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				<input type="hidden" asp-for="Id" />
				<div class="row">
					<!-- Title Field -->
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="name">Title</label>
							<input type="text" class="form-control" asp-for="Name" placeholder="Enter movie title">
							<span class="invalid-input" asp-validation-for="Name"></span>
						</div>
					</div>

					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="releaseDate">Release Date</label>
							<input type="text" class="form-control form-control-short" asp-for="ReleaseDate" id="releaseDate" required>
						</div>
					</div>

					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="Duration">Duration</label>
							<input type="text" class="form-control form-control-short" asp-for="Duration" id="releaseDate" required>
						</div>
					</div>

					<!-- Genre Dropdown -->
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="genre">Genre</label>
							<select class="form-control form-control-short dropdownMovie" asp-items="Model.GenresList" asp-for="GenreId">
								<option value="" disabled selected>Select Genre</option>
								<span asp-validation-for="GenreId" class="text-danger"></span>
							</select>
						</div>
					</div>

					<!-- Languages Dropdown -->
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="languages">Languages</label>
							<select class="form-control dropdownMovie" asp-items="Model.LanguageList" asp-for="LanguageId">
								<option value="" disabled selected>Select Language</option>
								<span asp-validation-for="LanguageId" class="text-danger"></span>
							</select>
						</div>
					</div>

					<!-- Industry Dropdown -->
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="industry">Industry</label>
							<select class="form-control dropdownMovie" asp-items="Model.IndustryList" asp-for="IndustryId">
								<option value="" disabled selected>Select Industry</option>
								<span asp-validation-for="IndustryId" class="text-danger"></span>
							</select>
						</div>
					</div>

					<!-- Image Upload -->
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="imageUpload">Choose Image</label><br />
							<input type="file" class="form-control-file" name="file" accept="image/*">
						</div>
					</div>
					<div class="col-md-6 pt-4">
						<img src="@(Model.Image != null ? $"data:image/png;base64,{Model.Image}" : Url.Content("~/Img/Profile.jpg"))"
							 width="40%" style="border-radius:5px; border:1px solid #F4F4F2" />
					</div>

				</div>
				<br />
				<!-- Submit Button -->
				<button type="submit" class="btn btn-primary">Edit</button>
			</form>
		</div>
	</div>
</div>