@model LoginSystem.ViewModel.ShowDto

<div class="container mt-4">
    <h4 class="mb-4">Create Show</h4>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="Movie">Movie</label>
                            <select class="form-control form-control-short dropdownMovie" asp-items="Model.MovieList" asp-for="MovieId">
                                <option value="" disabled selected>Select Movie</option>
      
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="ShowTime">Show Time</label>
                            <select class="form-control form-control-short dropdownMovie" asp-items="Model.ShowTimeList" asp-for="ShowTimeId">
                                <option value="" disabled selected>Select ShowTime</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="Seat No">Seat No</label>
                            <input type="number" class="form-control form-control-short" asp-for="SeatNo">
                            <span asp-validation-for="SeatNo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="Cinema">Cinema</label>
                            <select class="form-control form-control-short dropdownMovie" asp-items="Model.CinemaList" asp-for="CinemaId">
                                <option value="" disabled selected>Select Cinema</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="ShowDate">Show Date</label>
                            <input type="date" class="form-control form-control-short" asp-for="ShowDate" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="TicketPrice">Ticket Price</label>
                            <input type="text" class="form-control form-control-short" asp-for="TicketPrice">
                            <span asp-validation-for="TicketPrice" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>