@model IEnumerable<LoginSystem.ViewModel.IndustryDto>


<div class="container mt-5">
	<p class="d-flex justify-content-end">
		<a class="btn btn-success rounded-0" id="addIndustry"><i class='fa fa-plus-circle'></i>&nbsp;Create Industry</a>
	</p>
	<h4>Industry List</h4>
	<br />
	<table class="table table-striped table-bordered" id="tableInfo">
		<thead class="thead-white">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Action(s)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>
						<a class="btn btn-sm btn-danger deleteId" id="@item.Id"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="modal fade" id="industryModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="text-primary modal-title">Add Industry</h5>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Industry</label>
						<input type="text" class="form-control" id="Name" autocomplete="off" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="saveIndustry">Save</button>
				<button class="btn btn-danger btn-default" onclick="btnIndustryClose()" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script src="~/js/site.js"></script>
	<script>
		$('#tableInfo').dataTable({
			lengthMenu: [5, 10, 15],
		});

		$(".deleteId").click(function () {
			var selectedRow = $(this);
			var Id = selectedRow.attr('id');
			$.ajax({
				url: '/Industry/Delete',
				method: 'Delete',
				data: { Id },
				success: function (result) {
					if (result.success) {
						selectedRow.closest('tr').remove();
					} else {
						alert('Failed to delete');
					}
				}
			})
		})
	</script>
}
