@model LoginSystem.Client.Models.UserImageVM

<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                @if (Model.User.ImageData != null)
                {
                    <img src="data:image/png;base64,@Model.User.ImageData" class="avatar img-circle img-thumbnail" alt="avatar">
                }
                else
                {
                    <img src="~/Img/Profile.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
                }
              
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">         
            <h3>Personal info</h3>
            
            <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="User.UserId" />
                  <input type="hidden" asp-for="User.ActivationCode" />
                    <input type="hidden" asp-for="User.ExpirationDate" />
                      <input type="hidden" asp-for="User.Message" />

                <div class="form-group">
                    <label class="col-lg-3 control-label">User name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="User.UserName" type="text" >
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for=User.Email type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Profile picture:</label>
                    <div class="col-lg-8">
                        <input type="file" asp-for="Image" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-success mt-2">Edit</button> 
            </form>
        </div>
    </div>
</div>
<hr>