@model IEnumerable<LoginSystem.ViewModel.CarouselDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LandingPage.cshtml";
}

<section id="main">
	<h1 class="showcase-heading">Showcase</h1>
	<ul id="autowidth" class="cs-hidden">
		@foreach (var item in Model)
		{
			<li class="list">
				<div class=" showcase-box">
					<img src="data:image/png;base64,@item.Image">
				</div>
			</li>
		}
	</ul>
</section>

<!-- PREMIER MOVIES SECTION -->
	<div class="section">
		<div class="contain">
			<div class="section-header">
				PREMIER MOVIES
			</div>
		</div>
	</div>

		<div class="premier-Movies">
			<div class="box">
				<div class="box-img">
					<img src="~/Img/ted.jpg" />
				</div>
				<div class="content">
					<h3>Ted</h3>
					<p>Comedy</p>
					<p>English, Hindi</p>
					<p>Hollywood</p>
				</div>

				<div class="button">
					<li>
						<a class="b1" href="#">Book Now</a>
					</li>
				</div>
			</div>

			<div class="box">
				<div class="box-img">
					<img src="~/Img/ted.jpg" />
				</div>
				<div class="content">
					<h3>Ted</h3>
					<p>Comedy</p>
					<p>English, Hindi</p>
					<p>Hollywood</p>
				</div>

				<div class="button">
					<li>
						<a class="b1" href="#">Book Now</a>
					</li>
				</div>
			</div>

			<div class="box">
				<div class="box-img">
					<img src="~/Img/ted.jpg" />
				</div>
				<div class="content">
					<h3>Ted</h3>
					<p>Comedy</p>
					<p>English, Hindi</p>
					<p>Hollywood</p>
				</div>

				<div class="button">
					<li>
						<a class="b1" href="#">Book Now</a>
					</li>
				</div>
			</div>

			<div class="box">
				<div class="box-img">
					<img src="~/Img/ted.jpg" />
				</div>
				<div class="content">
					<h3>Ted</h3>
					<p>Comedy</p>
					<p>English, Hindi</p>
					<p>Hollywood</p>
				</div>

				<div class="button">
					<li>
						<a class="b1" href="#">Book Now</a>
					</li>
				</div>
			</div>
		</div>

<!-- PREMIER MOVIES SECTION ENDS -->

<!-- UPCOMING MOVIES SECTION -->
<div class="section">
	<div class="contain">
		<div class="section-header">
			UPCOMING MOVIES
		</div>
	</div>
</div>

<div class="premier-Movies">
	<div class="box">
		<div class="box-img">
			<img src="~/Img/ted.jpg" />
		</div>
		<div class="content">
			<h3>Ted</h3>
			<p>Comedy</p>
			<p>English, Hindi</p>
			<p>Hollywood</p>
		</div>

		<div class="button">
			<li>
				<a class="b1" href="#">Book Now</a>
			</li>
		</div>
	</div>

	<div class="box">
		<div class="box-img">
			<img src="~/Img/ted.jpg" />
		</div>
		<div class="content">
			<h3>Ted</h3>
			<p>Comedy</p>
			<p>English, Hindi</p>
			<p>Hollywood</p>
		</div>

		<div class="button">
			<li>
				<a class="b1" href="#">Book Now</a>
			</li>
		</div>
	</div>

	<div class="box">
		<div class="box-img">
			<img src="~/Img/ted.jpg" />
		</div>
		<div class="content">
			<h3>Ted</h3>
			<p>Comedy</p>
			<p>English, Hindi</p>
			<p>Hollywood</p>
		</div>

		<div class="button">
			<li>
				<a class="b1" href="#">Book Now</a>
			</li>
		</div>
	</div>

	<div class="box">
		<div class="box-img">
			<img src="~/Img/ted.jpg" />
		</div>
		<div class="content">
			<h3>Ted</h3>
			<p>Comedy</p>
			<p>English, Hindi</p>
			<p>Hollywood</p>
		</div>

		<div class="button">
			<li>
				<a class="b1" href="#">Book Now</a>
			</li>
		</div>
	</div>
</div>











