@model IEnumerable<LoginSystem.ViewModel.CarouselDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LandingPage.cshtml";
}

<section id="main">
	<h1 class="showcase-heading">Showcase</h1>
	<ul id="autowidth" class="cs-hidden">
		@foreach (var item in Model)
		{
			<li class="list">
				<div class=" showcase-box">
					<img src="data:image/png;base64,@item.Image">
				</div>
			</li>
		}
	</ul>
</section>

<section id="premier">
    <h1 class="premier-heading">Premier Now</h1>
    <ul id="autowidth" class="cs-hidden">
        <li class="item-a">
            <div class="premier-box">
                <a href="your-link-here.html" class="premier-b-img">
                    <img src="~/Img/ted.jpg" alt="Ted">
                </a>
                <div class="premier-b-text">
                    <strong>Ted</strong>
                    <p>Comedy Movie</p>
                </div>
            </div>
        </li>
    </ul>
</section>










