@model IEnumerable<LoginSystem.ViewModel.CarouselDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}

<section id="main">
    <h1 class="showcase-heading">Showcase</h1>
    <ul id="autowidth" class="cs-hidden">
        @foreach (var item in Model)
        {
            <li class="list">
                <div class=" showcase-box">
                    <img src="data:image/png;base64,@item.Image">
                </div>
            </li>
        }    
    </ul>  
</section>






