<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Carousel</h5>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-lg-3 control-label"> Image : </label>
                            <div class="col-lg-8">
                                <input type="file" name="file" class="form-control">
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-primary rounded-0" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>