
@{
    ViewData["Title"] = "ForgotPasswordConfirm";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}

@model LoginSystem.Client.Models.ForgotPasswordConfirmVM


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reset Password</h5>
                    <h7>@TempData["Error"]</h7>
                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" asp-for="Password" id="Password" /> Show Password : <input type="checkbox" id="showPassword" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" /> Show Password : <input type="checkbox" id="showPassword2" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <br />
                        <input class="btn btn-primary" type="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#showPassword').click(function () {
            if ('password' == $('#Password').attr('type')) {
                $('#Password').prop('type', 'text');
            } else {
                $('#Password').prop('type', 'password');
            }
        })

        $('#showPassword2').click(function () {
            if ('password' == $('#ConfirmPassword').attr('type')) {
                $('#ConfirmPassword').prop('type', 'text');
            } else {
                $('#ConfirmPassword').prop('type', 'password');
            }
        })
    </script>
}

