@model LoginSystem.Client.Models.ForgotPasswordVM

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forgot Password </h5>
                    <h7>@TempData["Error"]</h7>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <br />
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>