@model LoginSystem.Client.Models.RegisterVM

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginSystem.Client.styles.css" asp-append-version="true" />
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sign up as a New User</h5>
                    <h7>@TempData["Error"]</h7>
                    <form method="post">
                        <div class="form-group">
                            <label>User Name</label>
                                <input type="text" class="form-control" asp-for="UserName" onkeypress="return AvoidSpace(event)" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="Email" class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                                <input type="password" class="form-control" asp-for="Password" id="Password" />  <input type="checkbox" id="showPassword" /> Show Password
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                                <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" /> <input type="checkbox" id="showPassword2" /> Show Password
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>

                        <br />
                        <input class="btn btn-primary" type="submit" value="SignUp" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>